/* #add_here{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

#main_addressContainer{
    display: grid;
    grid-template-columns: 60% 25%;
    width: 90%;
    margin: auto;
    margin-top: 90px;
}


#payment_DIV{
    /* border: 2px solid black; */
    width: 100%;
    margin-left: 30px;
    padding: 11px 47px 74px 30px;
    height: fit-content;
    border-radius: 10px;
    background-color: #f2f2f2;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* #tp_div{
  display: flex;
  justify-content: space-between;
} */

#payment_DIV > div{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

#payment_DIV > button{
  border: none;
  background-color: #4CAF50;
  border-radius: 6px;
  margin-left: 130px;
  padding: 13px 58px 13px 53px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}


#payment_DIV > button:hover{
  background-color: #72e475;
}

#tp_div2 > h3{
  margin-top: 16px;
  margin-left: -30px;
}

#payment_DIV  p{
  font-size: 30px;
}

#tp_div2 > h3{
  margin-top: 16px;
  margin-left: -30px;
}



#top{
    display: flex;
    justify-content: space-between;
}

/* #main_addressContainer{
    width: 44%;
    margin-left: 14px;
    padding: 54px;
} */

#add_div_here{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 11px 13px 11px 16px;
    margin-top: 24px;
}

#add_newAddress{
    border: none;
    border-radius: 10px;
    color: white;
    background-color:#4CAF50;
    margin: 20px;
    font-size: 18px;
    width: 30%;
    cursor: pointer;
}

#add_newAddress:hover{
    background-color: #72e475;
  }

  /* #top >h2{
    font-size: 40px;
  } */

  #delv_add{
    font-size: 40px;
  }

 #add_div_here{
  cursor: pointer;
 }



 
  /* ---------------Navbar  and Footer  Style---------------- */
  
/* navbar start */
#navbar1 {
  /* width: 100%; */
  display: flex;
  gap: 50px;

}
/* #count{
  background-color: black;
} */
nav {
  /* width: 100%; */
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  /* gap: 230px; */
  align-items: center;
  padding: 0px 15px 0px 15px;
  /* border: 2px solid red; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#navbar1>div>a>img {
  width: 80px;
  height: 60px;
}

#nav1e {
  /* width: 100%; */
  display: flex;
  gap: 40px;
  align-items: center;
}

#nav1e>a {
  text-decoration: none;
  color: rgb(0, 81, 92);
}

#nav1e>a:hover {
  color: rgb(240, 134, 53);
}

#menubar {
  display: none;
}

#consultDiv {
  width: 23%;
  display: flex;
  gap: 50px;
  align-items: center;
  /* border: 1px solid red; */
  padding-right: 15px;

}

#consultDiv p {
  display: flex;
  font-size: 20px;
  align-items: center;
  font-weight: bold;
}

header {
  position: relative;
}

nav {
  width: 100%;
  position: fixed;
  top: 0%;
  padding-right: 25px;
  background-color: white;
  z-index: 2;
}

#consultDiv>a {
  text-decoration: none;
  color: rgb(0, 81, 92);
  font-size: bold;
}

#consultDiv>a:hover {
  color: rgb(240, 134, 53);
}

#Search {
  width: 12rem;
  height: 18px;
  padding: 5px;

}

#Search:focus {
  outline: none;
}

/* #Search:hover{
  background-color: crimson;
} */

#navbar1>div span {
  display: flex;
}

#navbar1>div span button {
  margin-left: -5px;
  padding: 3.3px;
  border-radius: 0 7px 7px 0;
  background-color: rgb(0, 81, 92);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(0, 81, 92);
  width: 38px;
  font-size: 18px;
}

#navbar1>div span input {
  border-radius: 7px 0px 0px 7px;
  border: 1px solid rgb(0, 81, 92);
}

#navbar1>div span button:hover {
  background-color: rgb(240, 134, 53);
  border: 1px solid rgb(240, 134, 53);
  color: black;
}

#Consult {
  width: 150px;
  height: 40px;
  /* border-radius: 8px; */
  padding: 10px;
  border: none;
  background-color: rgb(0, 81, 92);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  /* font-weight: bold; */
}

#Consult:hover {
  background-color: rgb(240, 134, 53);
  color: black;
}

#menunavbar {
  display: none;
}

/* navbar close  */



@media screen and (min-width:767px) and (max-width:1024px) {

  /* navbar start */
  nav {
      width: 100%;
      position: fixed;
  }

  #nav1e {
      width: 100%;
      display: none;
  }

  #consultDiv {
      display: none;
  }

  #menubar {
      display: block;
      /* border: 1px solid green; */
      /* margin-right: 20px; */
      margin-right: 25px;
  }

  #menubar p {
      font-size: 30px;
  }

  /* nav{
      border:  4px solid yellow;
  } */
  section {
      position: relative;
  }

  #menunavbar {
      width: 100%;
      display: none;
      position: fixed;
      /* right: 0; */
      top: 6%;
      height: 100vh;

      background-color: white;
  }

  #menunavbar>div {
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  #menunavbar>div>a {
      text-decoration: none;
      color: rgb(0, 81, 92);
      font-size: bold;
  }

  #menunavbar>div button {
      width: 12rem;
      padding: 10px;
      border-radius: 8px;
      color: white;
      font-weight: bold;
      border: 1px solid rgb(0, 81, 92);
      background-color: rgb(0, 81, 92);
      text-align: center;
      margin: auto;
  }

  #menunavbar>div a p {
      font-size: 25px;
      font-weight: bold;
  }

  #close {
      font-size: 30px;
      float: right;
      /* margin-top: -10px; */
  }
  

  /* navbar end */
}

@media screen and (min-width:0px) and (max-width:766px) {

  /* .....navbar start */
  nav {
      width: 100%;
      position: fixed;
  }

  #nav1e {
      display: none;
  }

  #consultDiv {
      display: none;
  }

  #menubar {
      display: block;
      /* border: 1px solid green; */
      margin-right: 20px;
  }

  #menubar p {
      font-size: 30px;
  }

  /* nav{
      border:  4px solid yellow;
  } */
  section {
      position: relative;
  }

  #menunavbar {
      width: 100%;
      display: none;
      position: fixed;
      right: 0;
      top: 8%;
      height: 100vh;
      background-color: white;
  }

  #menunavbar>div {
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  #menunavbar>div>a {
      text-decoration: none;
      color: rgb(0, 81, 92);
      font-size: bold;
  }

  #menunavbar>div button {
      width: 12rem;
      padding: 10px;
      border-radius: 8px;
      color: white;
      font-weight: bold;
      border: 1px solid rgb(0, 81, 92);
      background-color: rgb(0, 81, 92);
      text-align: center;
      margin: auto;
  }

  #menunavbar>div a p {
      font-size: 20px;
      font-weight: bold;
  }

  #close {
      font-size: 30px;
  }

  /* navbar end */
 
}


/* ..--------------->Footer--------------------> */


#footImg>img{
  width: 100%;
  margin-bottom: -10px;
  cursor: pointer;
}
#footer{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: black;
}
#footme{
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  color: white;
}
#foot{
  width: 80%;
  /* border: 1px solid red; */
  
  display: flex;
  justify-content:space-evenly;
  margin: auto;
  color: white;
  /* gap: 50px; */
  /* text-align: center; */
  padding: 20px;

}
#foot h2{
  font-weight: 200;
  cursor: pointer;
}
#foot h3{
  font-weight: 200;
  cursor: pointer;
}
#foot p{
  margin-top: -13px;
  cursor: pointer;
}
#footme>div+div img{
  width: 120px;
  height: 50px;
  cursor: pointer;
}
#footer hr{
  width: 100%;
  color: rgb(49,48,48);
  background-color: rgb(49,48,48);
}
#foot h2:hover{
  color: rgb(240, 134, 53);
}
#foot h3:hover{
  color: rgb(240, 134, 53);
}
#foot p:hover{
  color: rgb(240, 134, 53);
}
/* #hr{
  background-color: white;
} */
#footme p{
  cursor: pointer;
}

