
#main_containerDIV{
    display: grid;
    grid-template-columns: 60% 25%;
    width: 70%;
    margin: auto;
    margin-top: 90px;
}

#address_form{
margin-right: 40px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




input[type=text], select {
    width: 100%;
    padding: 10px ;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 25px;
  }

  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type=submit]:hover {
    background-color:  #2e4ad6;
    border: 1px solid black

  }
  input[type=number]{
    width: 100%;
    padding: 10px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 25px;
    border-radius: 10px;
  }
  
  #address_mainDIV {
    border-radius: 5px;

    /* padding: 20px; */
    /* margin-left: 33px;
    margin-right: 48%;
    margin-top: 90px; */
}

#address_form{
  padding: 40px;
   background-color: #f2f2f2;
}
  
label{
    font-size: 25px;
    padding-left: 1px;
}

#payment_DIV{
    /* border: 2px solid black; */
    width: 30%;
    /* margin-left: 30px;
    padding: 11px 47px 74px 30px; */
    height: fit-content;
    border-radius: 10px;
    margin-top: 15px;
    /* background-color: #f2f2f2; */
     /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
#payment_DIV>img{
  width: 600px;
}
/* #tp_div{
  display: flex;
  justify-content: space-between;
} */

#payment_DIV > div{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

#payment_DIV > button{
  border: none;
  background-color: #4CAF50;
  border-radius: 6px;
  margin-left: 130px;
  padding: 13px 58px 13px 53px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}


#payment_DIV > button:hover{
  background-color: #72e475;
}

#tp_div2 > h3{
  margin-top: 16px;
  margin-left: -30px;
}

#payment_DIV  p{
  font-size: 30px;
}

#tp_div2 > h3{
  margin-top: 16px;
  margin-left: -30px;
}