body{
    background-color: #869833;
}

#PD_Tag{
    /* border: 2px solid blueviolet; */
   /* width: 65%; */
   display: flex;
   align-items: center;
   margin-bottom: 5px;
   background-color: #fafafa;
   padding: 10px;
   border-bottom: 1px solid gray;
}
 
#PD_Tag h4{
    padding: 10px;
}


#PD_main_Container{
    display: flex;
}


#PD_top{
    display: flex;
    /* border: 2px solid; */
    padding: 20px;
    /* width: 65%; */
    background-color: #fafafa;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}



#Top_Right{
    padding: 30px 20px 0px 0px;
    /* border: 1px solid; */
}

/* <--------------------- Bottom Product Detail--------------------- */

#PD_bottom{
    /* width: 65%; */
    /* border: 2px solid red; */
    padding: 10px 50px;
    background-color: #fafafa;
}

#PD_Right{
    border: 2px solid gray;
    border-radius: 10px;
    height: 315px;
    margin-left: 20px;
}


#PD_Right div{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    width: 500px;
    margin-left: 20px;
    align-items: center;
    padding: 10px 10px;
}

#PD_Right div i{
    font-size: 30px;
}

#PD_Right>div img{
    padding-right: 10px;
}

#PD_Right #ATC_PD{
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    background: #fc9916;
    color: white;
    border: none;
    font-weight: 600;
}



/*<---------------------- carousel Styling------------------------> */
 #Show_Img img{
    width: 150px;
}
#Show_Img{
    /* border: 2px solid yellow; */
    padding:20px  0px;
}

.carousel-inner img{
  width: 80px;
   height: 80px; 
  border: 2px solid red;
  
} 

#carousel{
    /* border: 2px solid blue; */
    width: 300px;
    padding: 10px 65px;
    margin: 0px 45px;
    
}

.CL{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border: 5px solid;
}







