body{
    background-color: #869833;
}

#PD_Tag{
    /* border: 2px solid blueviolet; */
   /* width: 65%; */
   display: flex;
   align-items: center;
   margin-bottom: 5px;
   background-color: #fafafa;
   padding: 10px;
   border-bottom: 1px solid gray;
   padding-left: 30px;
}
 
#PD_Tag h4{
    padding: 10px;
    color: #00516b;
    font-weight: 650;
    font-size: 22px;
}


#PD_main_Container{
    display: flex;
    /* border: 2px solid red; */
    width: 95%;
    margin: auto;
    gap: 20px;
}


#PD_top{
    display: flex;
    /* border: 2px solid; */
    padding: 20px;
    /* width: 65%; */
    background-color: #fafafa;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}



#Top_Right{
    padding: 30px 20px 0px 0px;
    /* border: 1px solid; */
}

/* <--------------------- Bottom Product Detail--------------------- */

#PD_bottom{
    /* width: 65%; */
    /* border: 2px solid red; */
    padding: 10px 50px;
    background-color: #fafafa;
}

#PD_bottom h5{
    color: #00516b;
    font-weight: 650;
    font-size: 22px;
}

#PD_bottom p{
    color: #00516b;
    font-weight: 500;
    font-size: 14px;
}

#PD_bottom h3{
    color: #00516b;
    font-weight: 600;
    font-size: 30px;
}

#PD_Right{
    border: 2px solid gray;
    border-radius: 10px;
    height: fit-content;
 
    background-color: #fafafa;
    
}


#PD_Right div{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    width: 400px;
    margin-left: 20px;
    align-items: center;
    padding: 5px 10px;
}

#PD_Right div i{
    font-size: 30px;
}

#PD_Right>div img{
    padding-right: 10px;
}

#PD_Right #ATC_PD{
    padding:15px 0px;
    margin: 0px 0px;
    /* float: left; */
    width: 100%;
    border-radius: 10px;
    background: #fc9916;
    color: white;
    border: none;
    font-weight: 600;
}

#BTN {
    /* border: 2px solid green; */
   
    margin: 10px 0px;
    margin-right: 20px;
}


/*<---------------------- carousel Styling------------------------> */
 #Show_Img img{
    width: 150px;
}
#Show_Img{
    /* border: 2px solid yellow; */
    padding:20px  0px;
}

.carousel-inner img{
  width: 80px;
   height: 80px; 
  border: 2px solid red;
  
} 

#carousel{
    /* border: 2px solid blue; */
    width: 300px;
    padding: 10px 65px;
    margin: 0px 45px;
    
}

.CL{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border: 5px solid;
}

/* <----------------------- End Here------------------------> */

/* <----------------------------- Display Product  Top Div Styling ------------------> */

#NR_Tag{
    font-size: 20px;
    color: #00525d;
    font-weight: 600;
  }

  #Pr_Title{
    font-size: 25px;
    color: #00525d;
    font-weight: 700;
  }

  #Mfg{
    font-size: 20px;
    color: #027a8a;
    font-weight: 600;
  }

  /* <---------------------- End Here-----------------------------------------> */



/* <----------------------- Enter PIN Code POP (All the style along with Right side Box)-----------------> */

#Pop_up{
    width: 500px;
    /* border: 1px solid red;
    height: 340px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: hidden;
    /* display: none; */
    transition: transform 0.4s,top 0.4s;
    text-align: center;
    padding: 20px 30px;
    background-color:#ffffff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
    color: rgb(14, 8, 8);
     color: #00525d; 
  }

  #Pop_up h5{
    text-align: left;
  }

  #POP_Top{
    display: flex;
    /* border: 2px solid; */
    justify-content: space-between;
    margin-bottom: 10px;
  }


  #Enter_Pin{
    border: none;
    border-bottom:2px solid green;
   padding: 5px 0px;
   font-size: 20px;
    width: 100%;
    background-color:#ffffff;
    margin: 5px 0px 20px;
  }

 #Enter_Pin:focus{
   outline: none;
  }

  #Sub_Pin{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background: #fdcc8a;
    border: none;
    border-radius: 10px;
  }

  #PIN{
    font-size: 20px;
    font-weight: 700;
    color: #00525d; 
  }

  #Qty{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    color: #00525d; 
  }



