body{
    background-color: #869833;
}

#PD_Tag{
    /* border: 2px solid blueviolet; */
   /* width: 65%; */
   display: flex;
   align-items: center;
   margin-bottom: 5px;
   background-color: #fafafa;
   padding: 10px;
   border-bottom: 1px solid gray;
   padding-left: 30px;
}
 
#PD_Tag h4{
    padding: 10px;
    color: #00516b;
    font-weight: 650;
    font-size: 22px;
}


#PD_main_Container{
    display: flex;
    /* border: 2px solid red; */
    width: 95%;
    margin: auto;
    margin-top: 70px;
    gap: 20px;
}


#PD_top{
    display: flex;
    /* border: 2px solid; */
    padding: 20px;
    /* width: 65%; */
    background-color: #fafafa;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}



#Top_Right{
    padding: 30px 20px 0px 0px;
    /* border: 1px solid; */
}

/* <--------------------- Bottom Product Detail--------------------- */

#PD_bottom{
    /* width: 65%; */
    /* border: 2px solid red; */
    padding: 10px 50px;
    background-color: #fafafa;
}

#PD_bottom h5{
    color: #00516b;
    font-weight: 650;
    font-size: 22px;
}

#PD_bottom p{
    color: #00516b;
    font-weight: 500;
    font-size: 14px;
}

#PD_bottom h3{
    color: #00516b;
    font-weight: 600;
    font-size: 30px;
}

#PD_Right{
    border: 2px solid gray;
    border-radius: 10px;
    height: fit-content;
 
    background-color: #fafafa;
    
}


#PD_Right div{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    width: 400px;
    margin-left: 20px;
    align-items: center;
    padding: 5px 10px;
}

#PD_Right div i{
    font-size: 30px;
}

#PD_Right>div img{
    padding-right: 10px;
}

#PD_Right #ATC_PD{
    padding:15px 0px;
    margin: 0px 0px;
    /* float: left; */
    width: 100%;
    border-radius: 10px;
    background: #fc9916;
    color: white;
    border: none;
    font-weight: 600;
}

#BTN {
    /* border: 2px solid green; */
   
    margin: 10px 0px;
    margin-right: 20px;
}


/*<---------------------- carousel Styling------------------------> */
 #Show_Img img{
    width: 150px;
}
#Show_Img{
    /* border: 2px solid yellow; */
    padding:20px  0px;
}

.carousel-inner img{
  width: 80px;
   height: 80px; 
  border: 2px solid red;
  
} 

#carousel{
    /* border: 2px solid blue; */
    width: 300px;
    padding: 10px 65px;
    margin: 0px 45px;
    
}

.CL{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border: 5px solid;
}

/* <----------------------- End Here------------------------> */

/* <----------------------------- Display Product  Top Div Styling ------------------> */

#NR_Tag{
    font-size: 20px;
    color: #00525d;
    font-weight: 600;
  }

  #Pr_Title{
    font-size: 25px;
    color: #00525d;
    font-weight: 700;
  }

  #Mfg{
    font-size: 20px;
    color: #027a8a;
    font-weight: 600;
  }

  /* <---------------------- End Here-----------------------------------------> */



/* <----------------------- Enter PIN Code POP (All the style along with Right side Box)-----------------> */

#Pop_up{
    width: 500px;
    /* border: 1px solid red;
    height: 340px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: hidden;
    /* display: none; */
    transition: transform 0.4s,top 0.4s;
    text-align: center;
    padding: 20px 30px;
    background-color:#ffffff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
    color: rgb(14, 8, 8);
     color: #00525d; 
  }

  #Pop_up h5{
    text-align: left;
  }

  #POP_Top{
    display: flex;
    /* border: 2px solid; */
    justify-content: space-between;
    margin-bottom: 10px;
  }


  #Enter_Pin{
    border: none;
    border-bottom:2px solid green;
   padding: 5px 0px;
   font-size: 20px;
    width: 100%;
    background-color:#ffffff;
    margin: 5px 0px 20px;
  }

 #Enter_Pin:focus{
   outline: none;
  }

  #Sub_Pin{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background: #fdcc8a;
    border: none;
    border-radius: 10px;
  }

  #PIN{
    font-size: 20px;
    font-weight: 700;
    color: #00525d; 
  }

  #Qty{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    color: #00525d; 
  }
  /* .................................... Navbar & Footer-------------------------------- */

  
  *{
    margin: 0px;
  }

  

  #navbar1 {
    /* width: 100%; */
    display: flex;
    gap: 50px;

}

nav {
    /* width: 100%; */
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    /* gap: 230px; */
    align-items: center;
    padding: 0px 15px 0px 15px;
    /* border: 2px solid red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#navbar1>div>a>img {
    width: 80px;
    height: 60px;
}

#nav1e {
    /* width: 100%; */
    display: flex;
    gap: 40px;
    align-items: center;
}

#nav1e>a {
    text-decoration: none;
    color: rgb(0, 81, 92);
}

#nav1e>a:hover {
    color: rgb(240, 134, 53);
}

#menubar {
    display: none;
}

#consultDiv {
    width: 23%;
    display: flex;
    gap: 50px;
    align-items: center;
    /* border: 1px solid red; */
    padding-right: 15px;

}

#consultDiv p {
    display: flex;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
}

header {

    position: relative;
    

}

nav {
    width: 100%;
    position: fixed;
    top: 0%;
    padding-right: 25px;
    background-color: white;
    z-index: 2;

}

#consultDiv>a {
    text-decoration: none;
    color: rgb(0, 81, 92);
    font-size: bold;
}

#consultDiv>a:hover {
    color: rgb(240, 134, 53);
}

#Search {
    width: 12rem;
    height: 18px;
    padding: 5px;

}

#Search:focus {
    outline: none;
}

/* #Search:hover{
    background-color: crimson;
} */

#navbar1>div span {
    display: flex;
}

#navbar1>div span button {
    margin-left: -5px;
    padding: 3.3px;
    border-radius: 0 7px 7px 0;
    background-color: rgb(0, 81, 92);
    color: white;
    font-weight: bold;
    border: 1px solid rgb(0, 81, 92);
    width: 38px;
    font-size: 18px;
}

#navbar1>div span input {
    border-radius: 7px 0px 0px 7px;
    border: 1px solid rgb(0, 81, 92);
}

#navbar1>div span button:hover {
    background-color: rgb(240, 134, 53);
    border: 1px solid rgb(240, 134, 53);
    color: black;
}

#Consult {
    width: 150px;
    height: 40px;
    /* border-radius: 8px; */
    padding: 10px;
    border: none;
    background-color: rgb(0, 81, 92);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    /* font-weight: bold; */
}

#Consult:hover {
    background-color: rgb(240, 134, 53);
    color: black;
}

#menunavbar {
    display: none;
}

/* navbar close  */



@media screen and (min-width:767px) and (max-width:1024px) {

    /* navbar start */
    nav {
        width: 100%;
        position: fixed;
    }

    #nav1e {
        width: 100%;
        display: none;
    }

    #consultDiv {
        display: none;
    }

    #menubar {
        display: block;
        /* border: 1px solid green; */
        /* margin-right: 20px; */
        margin-right: 25px;
    }

    #menubar p {
        font-size: 30px;
    }

    /* nav{
        border:  4px solid yellow;
    } */
    section {
        position: relative;
    }

    #menunavbar {
        width: 100%;
        display: none;
        position: fixed;
        /* right: 0; */
        top: 6%;
        height: 100vh;

        background-color: white;
    }

    #menunavbar>div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #menunavbar>div>a {
        text-decoration: none;
        color: rgb(0, 81, 92);
        font-size: bold;
    }

    #menunavbar>div button {
        width: 12rem;
        padding: 10px;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        border: 1px solid rgb(0, 81, 92);
        background-color: rgb(0, 81, 92);
        text-align: center;
        margin: auto;
    }

    #menunavbar>div a p {
        font-size: 25px;
        font-weight: bold;
    }

    #close {
        font-size: 30px;
        float: right;
        /* margin-top: -10px; */
    }
    

    /* navbar end */
}

@media screen and (min-width:0px) and (max-width:766px) {

    /* .....navbar start */
    nav {
        width: 100%;
        position: fixed;
    }

    #nav1e {
        display: none;
    }

    #consultDiv {
        display: none;
    }

    #menubar {
        display: block;
        /* border: 1px solid green; */
        margin-right: 20px;
    }

    #menubar p {
        font-size: 30px;
    }

    /* nav{
        border:  4px solid yellow;
    } */
    section {
        position: relative;
    }

    #menunavbar {
        width: 100%;
        display: none;
        position: fixed;
        right: 0;
        top: 8%;
        height: 100vh;
        background-color: white;
    }

    #menunavbar>div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #menunavbar>div>a {
        text-decoration: none;
        color: rgb(0, 81, 92);
        font-size: bold;
    }

    #menunavbar>div button {
        width: 12rem;
        padding: 10px;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        border: 1px solid rgb(0, 81, 92);
        background-color: rgb(0, 81, 92);
        text-align: center;
        margin: auto;
    }

    #menunavbar>div a p {
        font-size: 20px;
        font-weight: bold;
    }

    #close {
        font-size: 30px;
    }

    /* navbar end */
   
}


/* ..--------------->Footer--------------------> */


#footImg>img{
    width: 100%;
    margin-bottom: -10px;
    cursor: pointer;
}
#footer{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: black;
}
#footme{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    color: white;
}
#foot{
    width: 80%;
    /* border: 1px solid red; */
    
    display: flex;
    justify-content:space-evenly;
    margin: auto;
    color: white;
    /* gap: 50px; */
    /* text-align: center; */
    padding: 20px;

}
#foot h2{
    font-weight: 200;
    cursor: pointer;
}
#foot h3{
    font-weight: 200;
    cursor: pointer;
}
#foot p{
    margin-top: -13px;
    cursor: pointer;
}
#footme>div+div img{
    width: 120px;
    height: 50px;
    cursor: pointer;
}
#footer hr{
    width: 100%;
    color: rgb(49,48,48);
    background-color: rgb(49,48,48);
}
#foot h2:hover{
    color: rgb(240, 134, 53);
}
#foot h3:hover{
    color: rgb(240, 134, 53);
}
#foot p:hover{
    color: rgb(240, 134, 53);
}
/* #hr{
    background-color: white;
} */
#footme p{
    cursor: pointer;
}




