body{
  background-image: url('https://daryo.uz/static/pills.webp');
}
form {
  height: 550px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.249);
  box-shadow: 0 0px 10px black;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: 2%;
  border-radius: 6px;
}
h4{
  color: white;
  text-align: center;
}
a{
  color: #0087ff
}
h2,h1{
  color: white;
  text-align: center;
}
h1,div ~ p{
  color: white;
}
#success{
  display: none;
  width:80% ;
  margin: auto;
  color: green;
}
#error{
  display: none;
  width:80% ;
  margin: auto;
  color: red;
}
form>div{
  display: flex;
  flex-direction: column;
}
#signup{
  /* display: flex;
  justify-content: center;
  margin: auto; */
  display: block;
  color: white;
  background-color: #0171d3;
  border: none;
  height: 30px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  margin: auto;
  width: 80%;
}
form input {
  height: 30px;
  width: 80%;
margin: auto;
  border-radius: 6px;
  margin-bottom: 20px;
  border: none;
  padding: 0 0  0 10px;
}
form input:focus{
  outline: none;
}

#google,#microsoft{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 6px;
  border: none;
  width: 80%;
}
#Facebook{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  height: 30px;
  background-color: #4267b2;
  border-radius: 6px;
  border: none;
  width: 80%;
}
#Facebook h5{
  color: white;
}
#google h5,#microsoft h5{
  color: #53565b;
}

#Line{
  display: flex;
  align-items: center;
  gap: 2px;
}

 #Line>div{
   border: 1px solid white;
   width: 200px;
   height: 0px;
 }